<p>practice works!</p>


<!-- 
<div>
    <span>Normal Forms</span>
    <form action="" [formGroup]="normalForms" (ngSubmit)="getTypeOFunction(1)">
        <div class="m-5">
            <label for="">username:</label>
            <span col="col-12">
                <input type="text" placeholder="username" formControlName="username">
            </span>
            <div *ngIf="normalForms.co">

            </div>
        </div>
        <div class="m-5">
            <label for="">Password:</label>
            <span col="col-12">
                <input type="text" placeholder="Password" formControlName="password">
            </span>
        </div>
        <div>
            <button type="submit">submit</button>
        </div>
    </form> 
</div> -->



<div>
    <button type="clicc" (click)="decreae()">decreae</button>
    <span>{{count()}}</span>
    <span>{{color()}}</span>
    <span>{{area()}}</span>
    <button type="clicc" (click)="increase()">increase</button>
    <span> want to move the Dashboard 
        <button (click)="movetoRouter()"> Dashboard</button>
    </span>
</div>